body {
  padding: 20px;
}
#text {
  word-break: break-all;
}
h2 {
  padding-top: 30px;
}
.block{
  background: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.content {
  display: flex;
  align-items: flex-start;
}
.middle{
  margin-left: 20px;
  margin-top: 75px;
}
.right {
  flex: 1;
  padding: 0px 20px 20px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  margin-top: 75px;
  margin-left: 20px;
  box-sizing: border-box;
}
.radio-con{
  margin-bottom: 5px;
}
.radio-con span{
  margin-right: 10px;
}
.address-input input{
  width: 300px;
  margin-bottom: 10px;
  display: block;
}
@media screen and (max-width: 768px) {
  .content {
      flex-direction: column;
  }
  .middle{
      margin-top: 0;
      margin-left: 0;
  }
  .right {
      flex: 1;
      padding: 10px;
      background: #f5f5f5;
      border-radius: 10px;
      margin-top: 20px;
      margin-left: 0;
      box-sizing: border-box;
  }
}